<% provide(:title, 'About Us') %>
<h1>About</h1>
<div class="hero-unit">
  <div class="row">
    <div class="span5 offset3">
      <h3>History</h3>
      <p>GuildRewind was an idea born circa 2006 when a hotshot World of Warcraft guild a year in the making tragically disintegrated overnight. The next few years for the remnants were spent desperately trying to reunite those lost friends and regain that lost ground. Sadly, all hope was given up as those former guildys moved on to new games and new opportunities.</p>
      <p>Flash forward to 2012 when a small team from that very guild alongside some new friends decided to create a service that would offer a way to reminisce about the glory days with the people that created them.</p>
      <h3>The Team</h3>
      <p>Troz</p>
      <p>Missimmerica</p>
    </div>
  </div>
</div>