<% provide(:title, 'About') %>
<h1>About</h1>
<div class="hero-unit">
  <div class="row">
    <div class="span10 offset1">
      <h3>History</h3>
      <p class="small">GuildRewind was an idea born circa 2006 when a hotshot World of Warcraft guild, over a year in the making, tragically disintegrated overnight. While this is typical in the world of MMORPGs, the leaders of this guild couldn't just simply move on to another one. While this guild might have been a small blip on the radar of gaming life, there was something special enough that  The next few years for the remnants were spent desperately trying to reunite those lost friends and regain that lost ground. Sadly, all hope was given up as those former guildys seemingly moved on to new games and new opportunities. The memories of those triumphs would not be forgotten.</p>
      <p class="small">Flash forward to 2012 when a small team from that very guild alongside some new friends decided to create a service that would offer a way to reminisce about the glory days with the actual people that created them. After years of brainstorming with plenty of trial and error, GuildRewind was starting to finally come together. In the near future, GuildRewind will be a polished product by gamers, for gamers.</p>
      <h3>The Team</h3>
      <p class="small">Troz - Founder/Lead Developer
      <br />
      <a href="mailto:troz@guildrewind.com">troz@guildrewind.com</a>
      <br />
      <a href="http://www.twitter.com/tonytroz">@tonytroz</a>
      </p>
      <p class="small">Missimmerica - Lead Designer
      <br />
      <a href="mailto:missimmerica@guildrewind.com">missimmerica@guildrewind.com</a>
      <br />
      <a href="http://www.twitter.com/missimmerica">@missimmerica</a>
      </p>
    </div>
  </div>
</div>