<div class="center hero-unit">
  <h1>A Social Network For Lost Gamers</h1>

  <h2>Welcome to GuildRewind.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
