<% provide(:title, 'All Posts') %>
<h1>All Posts</h1>

<div class="hero-unit">
  <div class="row">
    <div class="span10 offset1">
      <div class="center"><%= will_paginate %></div>
        <%= render 'post_index' %>
      <div class="center"><%= will_paginate %></div>
    </div>
  </div>
</div>