<% provide(:title, 'All Posts') %>
<h1>All Posts</h1>

<div class="hero-unit">
  <div class="row">
    <div class="span8 offset2">
      <%= will_paginate %>
      <ul class="posts">
        <%= render @posts %>
      </ul>
      <%= will_paginate %>
    </div>
  </div>
</div>