<% provide(:title, 'New Post') %>
<h1>New Post</h1>

<div class="hero-unit">
  <div class="row">
    <div class="span10 offset1">
      <%= form_for(@post)  do |f| %>
        <%= render 'fields', f: f %>
        <div class="center">
          <%= f.submit "Post", class: "btn btn-large btn-custom" %>
        </div>
      <% end %>
    </div>
  </div>
</div> 