<% provide(:title, 'New Post') %>
<h1>New Post</h1>

<div class="hero-unit">
  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@post) do |f| %>
        <%= render 'fields', f: f %>
        <%= f.submit "Post", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>