<% provide(:title, 'Post') %>
<h1><%= @post.id %></h1>

<div class="hero-unit">
  <div class="row">
     <div class="span8 offset2">
       <%= render @post %>

       <%= render partial: 'replies/form' %>
    </div>
  </div>
</div>