@import "bootstrap";

/* mixins, variables, etc. */

$guildRewindYellow: #fdcd33;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 10px;
  background-color: $black;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $white;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  letter-spacing: -1px;
  padding-top: 3px;
}

.navbar-inner {
  background-color: $guildRewindYellow;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: $white;
  background-color: hsl(360, 0%, 17%) !important;
}

.navbar .nav > li > a {
  color: $guildRewindYellow;
}

.navbar .nav > li > a:hover {
  color: $guildRewindYellow;
}

.navbar-search {
  .input-prepend {
    margin-bottom: 0;
  }
  .search-query {
    padding-left: 29px;
    background-color: hsl(360, 0%, 17%) !important;
  }
  .icon-search {
    position: absolute;
    top: 6px;
    left: 11px;
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings-white.png");
  }
  .search-query:focus, .search-query.focused {
    color: $white;
    padding-left: 30px;
  }
}

.btn-custom {
  background-color: hsl(360, 0%, 17%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#494949", endColorstr="#2b2b2b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#494949), to(#2b2b2b));
  background-image: -moz-linear-gradient(top, #494949, #2b2b2b);
  background-image: -ms-linear-gradient(top, #494949, #2b2b2b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494949), color-stop(100%, #2b2b2b));
  background-image: -webkit-linear-gradient(top, #494949, #2b2b2b);
  background-image: -o-linear-gradient(top, #494949, #2b2b2b);
  background-image: linear-gradient(#494949, #2b2b2b);
  border-color: #2b2b2b #2b2b2b hsl(360, 0%, 14%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      text-decoration: none;
      color: $guildRewindYellow;
    }
  }  
  small { 
    float: left; 
    color: $gray;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.footer-socialmedia {
  margin: 1px;
}

.footernav {
  margin-top: 3px;
}

.footernav-spacer {
  margin-right: 5px;
}

/* static pages */
#signup {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-unit {
  padding: 30px;
}

.home-row {
  background-color: $white;
  border-radius: 3px;
}

.home-row-content {
  float: left;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

input:focus, select:focus, textarea:focus {
  border: 1px solid $guildRewindYellow;
  box-shadow: 0 0 2px $guildRewindYellow;
}

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* posts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}